.p-box1 {
    margin-top: 200%;
    width: 30px;
    height: 100px;
    border: solid;
}

.p-box2 {
    width: 30px;
    height: 100px;
    border: solid;
}

.p-box3 {
    width: 30px;
    height: 200px;
    border: solid;
}